<header class="header panel col-md-12">
	<div class="col-md-2 site-logo"></div>

	<div class="col-md-7 site-search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="q">
			<div class="input-group-btn">
				<button class="btn btn-flat" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>

	<div class="col-md-2 site-control-panel pull-right" ng-include src="'public/partials/signin.html'">
	</div>
</header>

<div class="col-md-12 wrapper panel" ng-controller="HomeController">
	<div class="row">
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">Special Offer</h3>
			</div>
			
		</div>
		<div class="col-md-6">
			<div class="sample shadow-z-1">
				<h3 class="text-center">Slider</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">Winter Sale</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="btn-group btn-group-justified">
			<a href="" class="btn btn-default"><i class="previous fa fa-chevron-circle-left"></i></a>
		    <a href="javascript:void(0)" class="btn btn-default">Left</a>
		    <a href="javascript:void(0)" class="btn btn-default">Middle</a>
		    <a href="javascript:void(0)" class="btn btn-default">Right</a>
		    <a href="" class="next btn btn-default"><i class="fa fa-chevron-circle-right"></i></a>
		</div>
	</div>
	<div class="row">
		<h1 class="text-center">Latest Items</h1>
		<h4 class="text-center">Recently Added Items</h4>
	</div>
	<div class="row"  ng-repeat="latestProduct in latestProducts">
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">{{ latestProduct.product_title }}</h3>
				<img height="200" width="250" class="single-product" src="{{ latestProduct.product_image_link }}">
			</div>
		</div> 
	</div>


		<!-- <div>
			{{ latestProducts }}
		</div> -->


		<!-- <ul ng-repeat="latestProduct in latestProducts">
			<li>
				{{ latestProduct.product_title}}
			</li>
		</ul> -->




	<div class="row">
		<h1 class="text-center">Trending Items</h1>
		<h4 class="text-center">Most sold/bought items</h4>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">product 1</h3>
				<img class="single-product" src="public/imgs/products/demo.jpg">
			</div>
		</div>
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">product 2</h3>
				<img class="single-product" src="public/imgs/products/demo.jpg">
			</div>
		</div>
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">product 3</h3>
				<img class="single-product" src="public/imgs/products/demo.jpg">
			</div>
		</div>
		<div class="col-md-3">
			<div class="sample shadow-z-1">
				<h3 class="text-center">product 4</h3>
				<img class="single-product" src="public/imgs/products/demo.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<a href="javascript:void(0)" class="items-btn btn btn-info">More Items</a>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
</div>
