<header class="header panel col-md-12" ng-controller="HomeController">
	<a href="#/"><div class="col-md-2 site-logo"></div></a>

	<div class="col-md-7 site-search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="q">
			<div class="input-group-btn">
				<button class="btn btn-flat" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>

	<div class="col-md-2 site-control-panel pull-right" ng-include src="getPartials()">
	</div>
</header>

<div class="col-md-12 wrapper">
	<div class="col-md-2 filters">
		Filter
	</div>
	<div class="row col-md-10 product-view">
		<div class="col-md-3" ng-repeat="latestProduct in latestProducts">
			<div class="sample">
				<h4 class="text-center">{{ latestProduct.product_title }}</h4>
				<img height="200" width="250" class="single-product" src="{{ latestProduct.product_image_link }}" />
				<ngcart-addtocart id="{{ latestProduct._id }}"
				name="{{ latestProduct.product_title }}" price="{{ latestProduct.price }}"
				quantity="1" quantity-max="{{ latestProduct.quantity }}" data="latestProduct">
				Add to cart</ngcart-addtocart>
			</div>
		</div>
	</div>
</div>
