<header class="header col-md-12" ng-controller="HomeController">
	<a href="#/"><div class="col-md-2 site-logo"></div></a>

	<div class="col-md-7 site-search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="q">
			<div class="input-group-btn">
				<button class="btn btn-flat" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>

	<div class="col-md-2 site-control-panel pull-right" ng-include src="getPartials()">
	</div>
</header>

<div class="col-md-12 wrapper home-list-view">
	<div class="col-md-2 filters">
		<div class="filter">
			<h2 class="text-center">Filters</h2>
			<h4><i class="mdi-action-assessment"></i> Categories</h4>

			<select class="form-control" id="category"
				ng-options="cat.category for cat in categories"
				ng-change="categoryProductSelect(categorySelect)"
				ng-model="categorySelect">
				<option value="">Select Category</option>
			</select>

			<select class="form-control" id="sub-category"
			ng-model="subCategorySelect"
			ng-change="subCategoryProductSelect(subCategorySelect)"
			ng-options="subcat for subcat in subcategories"
			>
			<option value="">Select Sub-category</option>
			</select>
		</div>

		<div class="filter">
			<h4><i class="mdi-action-assessment"></i> By Brands</h4>
			<div class="checkbox" ng-repeat="(brand,enabled) in brands">
			    <label>
			        <input type="checkbox" ng-model="brands[brand]" ng-change='getProductByBrand(brand)'>{{brand}}
			    </label>
			</div>
		</div>

		<div class="filter price-range">
			<h4><i class="mdi-action-assessment"></i> By Price Range</h4>
			<input type="hidden" class="slider-input"
			ng-model="productByPrice"
			ng-change="getProductByPrice(productByPrice)"
			value="1000" style="display: none;"/>
		</div>

		<div class="filter">
			<h4><i class="mdi-action-assessment"></i> By Location</h4>
			<select class="form-control" ng-model="locationFilter" id="location-filter"
			ng-change="getDataBylocation(locationFilter)"
			ng-options="loc for loc in locationData"
			>
				<option value="">Select City</option>
			</select>
		</div>

		<div class="filter sort-filter">
			<h4><i class="mdi-action-assessment"></i> Sort By</h4>
			<ul>
				<a href="" ng-click="getMostSoldProduct()"><li>Most Sold</li></a>
				<a href=""><li>By Price</li></a>
				<a href=""><li>By Date</li></a>
			</ul>
		</div>

	</div>

	<div class="col-md-10 product-view">
		<div class="col-md-4 single-product" ng-repeat="item in items" ng-hide="items.error">
			<div class="col-md-12 sample">
				<h4 class="text-center">{{ item.product_title }}</h4>
				<img class="img-responsive product-img" ng-src="{{ item.product_image_link[0] }}" />

				<div class="col-md-12">
					<div class="col-md-5 product-price">
						<h3 class="text-center">&#2547;{{ item.price }}</h3>
					</div>
					<div class="col-md-7">
						<div class="brand-name">
							<span class="property col-md-4">Brand: </span>
							<span class="value col-md-8">{{ item.product_brand }}</span>
						</div>
						<div class="seller-name">
							<span class="property col-md-4">Seller: </span>
							<span class="value col-md-8">
								<a href="#/profile/{{ item.seller_username }}">
									{{ item.seller_username }}
								</a>
							</span>
						</div>
						<div class="product-reviews">
							<span class="property col-md-4">Rating: </span>
							<span class="value col-md-8">
								<div class="rating">
										<span  ng-repeat="n in [] | range:5">☆</span>
										<!-- <span>☆</span>
										<span>☆</span>
										<span>☆</span>
										<span>☆</span> -->
								</div>
							</span>
						</div>
					</div>
				</div>
				<ngcart-addtocart class="col-md-10" id="{{ item._id }}"
				name="{{ item.product_title }}" price="{{ item.price }}"
				quantity="1" quantity-max="{{ item.quantity }}" data="item">
				Add to cart</ngcart-addtocart>
				<a class="add-to-wishlist-button" href=""><i class="mdi-action-favorite-outline"></i></a>
			</div>
		</div>

		<div class="col-md-4 single-product" ng-show="items.error">
			No product found.
	</div>
</div>
