<div class="panel col-md-12 profile-box" ng-controller="ProfileCtrl">
	<section class="user-identity center-block text-center">
		<button ng-click="signout()" class="btn btn-danger pull-right">
			<strong><span class="glyphicon glyphicon-off"></span> Logout</strong>
		</button>
		<div class="clearfix"></div>
		<img src="public/imgs/kowalski.jpg" alt="Profile Photo" class="img-responsive img-thumbnail img-circle clearfix">
		<strong class="center-block user-name">Kowalski</strong>
		<span class="center-block user-location">
			<i class="fa fa-location-arrow"></i> Madagascar
		</span>
	</section>

	<ul id="user-profile-navigator" class="nav nav-tabs">
		<li role="presentation" class="col-md-4 text-center active">
			<a ng-href="#general-user-info">General Info</a>
		</li>
		<li role="presentation" class="col-md-4 text-center">
			<a ng-href="#seller-user-info">Seller Profile</a>
		</li>
		<li role="presentation" class="col-md-4 text-center">
			<a ng-href="#buyer-user-info">Buyer Profile</a>
		</li>
	</ul>
	<section id="user-profile-content" class="tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="general-user-info">
			<table class="table table-striped table-bordered">
				<tr>
					<td class="warning">Username: </td>
					<td ng-model="profusername">dang09475</td>
				</tr>
				<tr>
					<td class="warning">Email: </td>
					<td ng-model="profemail">something@anything.com</td>
				</tr>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="seller-user-info">
			<h2 class="text-center">Seller Profile</h2>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="buyer-user-info" >
			<h2 class="text-center">Buyer Profile</h2>
		</div>
	</section>
</div>