<header class="header panel col-md-12">
	<a ng-href="#/"><div class="col-md-2 site-logo"></div></a>

	<div class="col-md-7 site-search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search" name="q">
			<div class="input-group-btn">
				<button class="btn btn-flat" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>

	<div class="col-md-2 site-control-panel pull-right" ng-include src="'public/partials/user.html'">
	</div>
</header>



<div class="panel col-md-12 profile-box" ng-controller="ProfileController">
	<!-- User summary -->
	<section class="user-identity center-block text-center">
		<button ng-click="signout()" class="btn btn-danger pull-right">
			<strong><span class="glyphicon glyphicon-off"></span> Logout</strong>
		</button>
		<div class="clearfix"></div>
		<img src="{{ data.profile_photo_link }}" alt="Profile Photo" class="img-responsive img-thumbnail img-circle clearfix">
		<strong class="center-block user-name">{{ data.username }}</strong>
		<span class="center-block user-location">
			<i class="fa fa-location-arrow"></i> {{ data.address.city }}, {{ data.address.country }}
		</span>
	</section><!-- End User summary -->

	<!-- Profile Navigator -->
	<ul id="user-profile-navigator" class="nav nav-tabs">
		<li role="presentation" class="col-md-4 text-center active">
			<a ng-href="#general-user-info" showtab="">General Info</a>
		</li>
		<li role="presentation" class="col-md-4 text-center">
			<a ng-href="#seller-user-info" showtab="">Seller Profile</a>
		</li>
		<li role="presentation" class="col-md-4 text-center">
			<a ng-href="#buyer-user-info" showtab="">Buyer Profile</a>
		</li>
	</ul><!-- End Profile Navigator -->

	<!-- Profile contents -->
	<section id="user-profile-content" class="tab-content">
		<!-- General info -->
		<div role="tabpanel" class="tab-pane fade active in" id="general-user-info">
			<div ng-show="userSuccess" class="alert alert-success text-center">
				<a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
				{{ userSuccess }}
			</div>
			<form ng-submit="saveuser()" name="userinfo" novalidate>
				<h4 class="text-center">Personal Information</h4>
				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="fname">First Name</label>
					<input required ng-model="profileFname" class="col-md-4" type="text" name="fname">
					<div class="col-md-4">
						<span class="error"> {{ error['first_name'][0] }} </span>
						<div ng-show="userinfo.$submitted || userinfo.fname.$touched">
							<span ng-show="userinfo.fname.$error.required" class="error">Please enter your first name</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="lname">Last Name</label>
					<input required ng-model="profileLname" class="col-md-4" type="text" name="lname">
					<div class="col-md-4">
						<span class="error"> {{ error['last_name'][0] }} </span>
						<div ng-show="userinfo.$submitted || userinfo.lname.$touched">
							<span ng-show="userinfo.lname.$error.required" class="error">Please enter your last name</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="userEmail">Email</label>
					<input required ng-model="profileEmail" class="col-md-4" type="email" name="userEmail">
					<div class="col-md-4">
						<span class="error"> {{ error['email'][0] }} </span>
						<div ng-show="userinfo.$submitted || userinfo.userEmail.$touched">
							<span ng-show="userinfo.userEmail.$error.required" class="error">Email field can't be empty</span>
							<span ng-show="userinfo.userEmail.$error.email" class="error">Invalid email.</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="mobileno">Mobile Number</label>
					<input required ng-model="profileMobileNo" class="col-md-4" type="text" name="mobileno">
					<div class="col-md-4">
						<span class="error"> {{ error['mobile_no'][0] }} </span>
						<div ng-show="userinfo.$submitted || userinfo.mobileno.$touched">
							<span ng-show="userinfo.mobileno.$error.required" class="error">Mobile number is a mandatory info</span>
						</div>
					</div>
				</div>

				<div class="row profile-info">
					<div class="col-md-2 col-md-offset-5">
						<button class="btn btn-primary" ng-disabled="userinfo.$invalid">
							<input type="submit" value="Save">
						</button>
					</div>
				</div>
			</form>
			
			<!-- Contact Information -->
			<div ng-show="contactSuccess" class="alert alert-success text-center">
				<a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
				{{ contactSuccess }}
			</div>
			<form ng-submit="savecontact()" name="contactinfo" novalidate>
				<h4 class="text-center">Contact Information</h4>
				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="houseno">House No</label>
					<input required ng-model="profileHouseNo" class="col-md-4" type="text" name="houseno">
					<div class="col-md-4">
						<span class="error"> {{ error['house_no'][0] }} </span>
						<div ng-show="contactinfo.$submitted || contactinfo.houseno.$touched">
							<span ng-show="contactinfo.houseno.$error.required" class="error">Every house should have a number</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="street">Street Name</label>
					<input required ng-model="profileStreetName" class="col-md-4" type="text" name="street">
					<div class="col-md-4">
						<span class="error"> {{ error['street_name'][0] }} </span>
						<div ng-show="contactinfo.$submitted || contactinfo.street.$touched">
							<span ng-show="contactinfo.street.$error.required" class="error">Street name is mandatory</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="roadno">Road No</label>
					<input required ng-model="profileRoadNo" class="col-md-4" type="text" name="roadno">
					<div class="col-md-4">
						<span class="error"> {{ error['road_no'][0] }} </span>
						<div ng-show="contactinfo.$submitted || contactinfo.roadno.$touched">
							<span ng-show="contactinfo.roadno.$error.required" class="error">Please enter road no.</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="postcode">Postal Code</label>
					<input required ng-model="profilePostCode" class="col-md-4" type="text" name="postcode">
					<div class="col-md-4">
						<span class="error"> {{ error['post_code'][0] }} </span>
						<div ng-show="contactinfo.$submitted || contactinfo.postcode.$touched">
							<span ng-show="contactinfo.postcode.$error.required" class="error">Please enter your postcode</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="city">City</label>
					<input required ng-model="profileCity" class="col-md-4" type="text" name="city">
					<div class="col-md-4">
						<span class="error"> {{ error['city'][0] }} </span>
						<div ng-show="contactinfo.$submitted || contactinfo.city.$touched">
							<span ng-show="contactinfo.city.$error.required" class="error">What is your city?</span>
						</div>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="country">Country</label>
					<country-select required class="col-md-4" name="country" data-ng-model="selectedCountry"></country-select>
					<div class="col-md-4">
						<span class="error"> {{ error['country'][0] }} </span>
						<div ng-show="contactinfo.$submitted || contactinfo.country.$touched">
							<span ng-show="contactinfo.country.$error.required" class="error">Are you still not independent?</span>
						</div>
					</div>
				</div>

				<div class="row profile-info">
					<div class="col-md-2 col-md-offset-5">
						<button class="btn btn-primary" ng-disabled="contactinfo.$invalid">
							<input type="submit" value="Save">
						</button>
					</div>
				</div>
			</form><!-- Contact Information -->

			<div ng-show="passSuccess" class="alert alert-success text-center">
				<a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
				{{ passSuccess }}
			</div>

			<form ng-submit="updatePassword()" name="userpassword" novalidate>
				<h4 class="text-center">Account &amp; Password</h4>
				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="profileOldPass">Old Password</label>
					<input class="col-md-4" minlength="6" name="profileOldPass" type="password">
					<div class="col-md-4">
						<span class="error"> {{ passErrorMsg }} </span>
					</div>
				</div>

				<div class="profile-info row">
					<label class="col-md-2 col-md-offset-2" for="profileNewPass">New Password</label>
					<input class="col-md-4" required minlength="6" name="profileNewPass" type="password">
					<div class="col-md-4">
						<span class="error"> {{ error['new_password'][0] }} </span>
					</div>
				</div>

				<div class="row profile-info">
					<div class="col-md-2 col-md-offset-5">
						<button class="btn btn-primary" ng-disabled="userpassword.$invalid">
							<input type="submit" value="Update Password">
						</button>
					</div>
				</div>
			</form>

			<!-- Delete account -->
			<!-- <div class="row profile-info">
				<div class="col-md-2 col-md-offset-5">
					<button class="btn btn-primary btn-danger delete-account">Delete My Account!</button>
				</div>
			</div> -->
		</div><!-- End General info -->

		<!-- Seller profile -->
		<div role="tabpanel" class="tab-pane fade" id="seller-user-info">
			<h2 class="text-center">Seller Profile</h2>
		</div><!-- End Seller profile -->

		<!-- Buyer profile -->
		<div role="tabpanel" class="tab-pane fade" id="buyer-user-info" >
			<h2 class="text-center">Buyer Profile</h2>
		</div><!-- End Buyer profile -->
	</section><!-- End Profile contents -->
</div>
