<div class="signup-box" ng-controller="AuthController">
  <a class="btn btn-flat" data-toggle="modal" data-target="#sign-in-box">Sign In</a>
  <a class="btn btn-flat" data-toggle="modal" data-target="#sign-up-box">Sign Up</a>
<!--
  <div class="col-md-6 col-md-offset-3 social-login-box text-center">
    <h4>Login with social Networks</h4>
    <a href="javascript:void(0)" class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i>
      Sign in with Facebook
    </a>
    <a href="javascript:void(0)" class="btn btn-block btn-social btn-google-plus">
      <i class="fa fa-google-plus"></i>
      Sign in with Google+
    </a>
  </div>
 -->
  <div id="sign-in-box" class="col-md-12 modal fade in" tabindex="-1">
    <div class="col-md-6 col-md-offset-3">
      <div class="modal-dialogue">
        <div class="modal-content">
          <div class="modal-body">
            <p class="error"> {{ message }} </p>
            <form ng-submit="login()" name="signin" novalidate>
              <div class="form-control-wrapper">
                <input name="loginUname" required="" type="text" class="form-control empty" ng-model="loginusername" placeholder="Username">
                <div ng-show="signin.$submitted || signin.loginUname.$touched">
                  <p ng-show="signin.loginUname.$error.required" class="error">Username can't be empty</p>
                </div>
              </div>
              <div class="form-control-wrapper">
                <input name="loginPassword" required="" type="password" class="form-control empty" ng-model="loginpassword" placeholder="Password">
                <div ng-show="signin.$submitted || signin.loginPassword.$touched">
                  <p ng-show="signin.loginPassword.$error.required" class="error">Password can't be empty</p>
                </div>
              </div>

              <!-- <div class="checkbox primary">
                <label>
                  <input type="checkbox">
                  Remember me
                </label>
              </div> -->

              <input ng-disabled="signin.$invalid" class="btn btn-primary" type="submit" value="Sign in">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sign-up-box" class="col-md-12 modal fade in" tabindex="-1">
    <div class="col-md-6 col-md-offset-3">
      <div class="modal-dialogue">
        <div class="modal-content">
          <div class="modal-body">
            <p class="error"> {{ rmessage }} </p>
            <form  ng-submit="register()" name="signup" novalidate>
              <div class="form-control-wrapper">
                <input type="text" required="" name="regUname" class="form-control empty" ng-model="regusername" placeholder="Username">
                <p class="error"> {{ error['username'][0] }} </p>
                <div ng-show="signup.$submitted || signup.regUname.$touched">
                  <p ng-show="signup.regUname.$error.required" class="error">Username can't be empty</p>
                </div>
              </div>
              <div class="form-control-wrapper">
                <input type="email" required="" name="regUemail" class="form-control empty" ng-model="regemail" placeholder="Email">
                <p class="error"> {{ error['email'][0] }} </p>
                <div ng-show="signup.$submitted || signup.regUemail.$touched">
                  <p ng-show="signup.regUemail.$error.required" class="error">Email field can't be empty</p>
                  <p ng-show="signup.regUemail.$error.email" class="error">Invalid email.</p>
                </div>
              </div>
              <div class="form-control-wrapper">
                <input name="regUpass" required="" type="password" minlength="6" class="form-control empty" ng-model="regpassword" placeholder="Password">
                <p class="error"> {{ error['password'][0] }} </p>
                <div ng-show="signup.$submitted || signup.regUpass.$touched">
                  <p ng-show="signup.regUpass.$error.minlength" class="error">Password must be at least 6 character</p>
                  <p ng-show="signup.regUemail.$error.required" class="error">Password can't be blank.</p>
                </div>
              </div>

              <input class="btn btn-primary" ng-disabled="signup.$invalid" type="submit" value="sign up">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
